.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
  align-items: center;
  justify-self: flex-start;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(222, 42, 42);
  border-bottom: 0.18rem solid red;
}
.App-header img {
  display: flex;
  align-self: flex-end;
  height: 200px;
  width: 200px;
  margin-bottom: 0;
}
.App-header h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
}