/* link */
.App-link {
  color: #61dafb;
}
/* Body */
.App-body {
  height: 30rem;
  border-bottom: 0.18rem solid red;
}
.App-body {
  padding-left: 2.5rem;
}
.App-body p {
  display: flex;
  margin-top: 2rem;
}
.App-body .modified {
  display: flex;
  text-align: center;
  gap: 0 1rem;
}
